<div class="container">
  <h3>Carros Cadastrados:</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Montadora</th>
        <th>Preço</th>
        <th>Ano</th>
        <th class="text-end">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <th>1</th>
        <td>Palio</td>
        <td>Fiat</td>
        <td>30000</td>
        <td>2000</td>
        <td>
          <div class="d-flex gap-2 justify-content-end">
            <button class="btn btn-success">Alterar</button>
            <button class="btn btn-danger">Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
