<div>
  <h3>Carros Cadastrados:</h3>

  <table class="table table-hover table-light">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Montadora</th>
        <th>Preço</th>
        <th>Ano</th>
        <th class="text-end">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let car of cars">
        <th>{{ car.id }}</th>
        <td>{{ car.name }}</td>
        <td>{{ car.manufacturer }}</td>
        <td>{{ car.price }}</td>
        <td>{{ car.year }}</td>
        <td>
          <div class="d-flex gap-2 justify-content-end">
            <button class="btn btn-success">Alterar</button>
            <button class="btn btn-danger">Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
