<div>
  <h3>Cadastro de Carros:</h3>
  <form class="p-3">
    <div class="row g-3 align-items-center mb-2">
      <div class="col-2">
        <label for="name" class="col-form-label">Nome:</label>
      </div>
      <div class="col">
        <input type="text" id="name" name="name" class="form-control" required>
      </div>
    </div>
    <div class="row g-3 align-items-center mb-2">
      <div class="col-2">
        <label for="manufacturer" class="col-form-label">Montadora:</label>
      </div>
      <div class="col">
        <input type="text" id="manufacturer" name="manufacturer" class="form-control" required>
      </div>
    </div>
    <div class="row g-3 align-items-center mb-2">
      <div class="col-2">
        <label for="price" class="col-form-label">Preço:</label>
      </div>
      <div class="col">
        <input type="text" id="price" name="price" class="form-control" required>
      </div>
      <div class="col-2">
        <label for="year" class="col-form-label">Ano:</label>
      </div>
      <div class="col">
        <input type="text" id="year" name="year" class="form-control" required>
      </div>
    </div>
    <div class="row g-3 align-items-center mb-2">
      <div class="col-auto">
        <button class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </form>
</div>
